<div class="container col-md-6">
  <h1 style="color: red;">Login</h1>
   <form  *ngIf="!isLoggedIn"
   name="form"
   (ngSubmit)="f.form.valid && onSubmit(f)"
   #f="ngForm"
   novalidate>
 
     <div class="mb-3">
       <label for="exampleFormControlInput1" class="form-label">Username</label>
       <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username">
     </div>
     <div class="mb-3">
       <label for="exampleFormControlInput1" class="form-label">Password</label>
       <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" >
     </div>
   <button type="submit" class="btn btn-primary">Login</button>
   <div class="form-group">
    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
      Login failed: {{ errorMessage }}
    </div>
  </div>
   </form>
   <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in as {{ roles }}.
  </div>
 </div>